@font-face {
    font-family: 'Dongpora';
    src: url(./Dongpora-BF65c3a46d6cc22.otf) format('truetype');
    
}

@font-face {
    font-family: 'Morganite';
    src: url(./Morganite-Light.ttf) format('truetype');
}

